/* цвет основного текста  #212121  */
/* вторичный цвет текста #757575  */
/* белый текст #FFFFFF  */
/* белый 60% прозрачность текст rgba(255, 255, 255, 0.6)  */
/* акцент текста #2196F3  */

/* background header: #FFFFFF; */
/* background hero, footer: #2F303A; */
/* background Наши приоритеты, Чем мы занимаемся: #E5E5E5; */
/* background Наша команда: #F5F4FA; */

/* 
    font-family: 'Raleway', sans-serif;

    font-family: 'Roboto', sans-serif; */

:root {
  --primary-text-color: #212121;
  --accent-color: #2196f3;
  --secondary-text-color: #757575;
  --logo-color-header: #000;
  --primary-color-footer: #fff;
  --address-color-footer: rgba(255, 255, 255, 0.6);
  --text-color-hero: #fff;

  --bg-color-header: #fff;
  --bg-color-card: #fff;
  --bg-color-footer: #2f303a;
  --bg-color-hero: #2f303a;
  --bg-color-primary: #fff;
  --bg-color-secondary: #f5f4fa;
  --bg-color-button-hover: #188ce8;
  --bg-color-social-icon: #afb1b8;

  --card-border-var: 1px solid #eeeeee;

  --card-item-gap: 30px;

  --box-shadow-var: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

body {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);

  background-color: var(--bg-color-primary);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.hide {
  display: none;
}

.ul-clear-list-style {
  list-style: none;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
}

.page-header a,
.page-footer a {
  text-decoration: none;
}

.container {
  width: 1200px;
  margin: 0px auto;
  padding-left: 15px;
  padding-right: 15px;
}

.card {
  display: flex;
  flex-wrap: wrap;

  margin-left: calc(var(--card-item-gap) * -1);
  margin-top: calc(var(--card-item-gap) * -1);
}

.card-item {
  margin-left: var(--card-item-gap);
  margin-top: var(--card-item-gap);

  background-color: var(--bg-color-card);
}

/*==================  header ================ */

.page-header {
  background-color: var(--bg-color-header);
  border-bottom: 1px solid #ececec;

  padding-top: 24px;
  padding-bottom: 24px;

  /* position: fixed;
  width: 100%; */
}
.container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav {
  display: flex;
}

/*  logo  */
.logo {
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.page-header .logo {
  color: var(--logo-color-header);
  margin-right: 92px;
}
.logo span {
  color: var(--accent-color);
}

.page-footer .logo {
  color: var(--primary-color-footer);
  margin-bottom: 20px;
}

.logo:hover {
  color: var(--accent-color);
}

.page-header .logo:hover span {
  color: var(--logo-color-header);
}

.page-footer .logo:hover span {
  color: var(--primary-color-footer);
}

/* site-nav */

.site-nav,
.page-header-address {
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.page-header-address .link {
  display: flex;
  align-items: center;
}

.site-nav :not(:last-child) {
  margin-right: 50px;
}

.page-header-address .item :nth-child(1) {
  margin-right: 10px;
}

.page-header-address .item:nth-child(1) {
  margin-right: 30px;
}

.site-nav-link:visited,
.site-nav-link {
  color: var(--primary-text-color);
}

.site-nav-link:hover,
.site-nav-link:focus {
  color: var(--accent-color);
}

.site-nav-link.current {
  color: var(--accent-color);
}

/* header address  */
.page-header-address {
  font-style: normal;

  font-size: 14px;
  line-height: 1.71;
}

.page-header-address a:visited,
.page-header-address a {
  color: var(--secondary-text-color);
}

.page-header-address .link:hover,
.page-header-address .link:focus {
  color: var(--accent-color);
}

.page-header-address .link svg {
  fill: var(--secondary-text-color);
}

.page-header-address .link:hover svg,
.page-header-address .link:focus svg {
  color: var(--accent-color);
  fill: var(--accent-color);
}

/*================ END HEADER ====================*/

/*======================== HERO ==================== */
/* hero */

.hero {
  text-align: center;
  background-color: var(--bg-color-hero);

  padding-top: 200px;
  padding-bottom: 200px;
}

.overlay {
  height: 600px;
  max-width: 1600px;

  margin-left: auto;
  margin-right: auto;

  /* background-image: linear-gradient(to right, rgba(255, 0, 0, 0.4), rgba(0, 255, 34, 0.4)),
    url("../images/Img.jpg"); */

  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url("../images/Img.jpg");

  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  margin-top: 0px;
  margin-bottom: 30px;

  color: var(--text-color-hero);
}

.hero button {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;

  padding: 10px 32px;

  color: var(--text-color-hero);
  background-color: var(--accent-color);
  border: 0px;
  border-radius: 4px;
}

.hero button:hover,
.hero button:focus {
  background-color: var(--bg-color-button-hover);
}

/*===================== END HERO ====================*/

/* все секции */

/*====================== priorities =================  */

.section-priorities {
  /* background-color: var(--bg-color-primary); */

  padding-top: 94px;
}

.priorities {
  display: flex;
  justify-content: space-between;
}

.priorities .item .icon-container {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 120px;
  margin-bottom: 30px;

  background-repeat: no-repeat;
  background-position: center;

  background-color: var(--bg-color-secondary);
  border-radius: 4px;
}

.priorities :nth-child(n) {
  width: 270px;
}

.section-title {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;

  margin-top: 0px;
  margin-bottom: 50px;
}

.priorities .title {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  margin-top: 0px;
  margin-bottom: 10px;
}

.priorities .text {
  font-size: 14px;
  line-height: 1.71;

  color: var(--secondary-text-color);

  margin-top: 0px;
  margin-bottom: 0px;
}
/*============== END priorities ==================*/

/*=============== occupation ============== */

.section-occupation {
  /* background-color: var(--bg-color-primary); */

  padding-top: 94px;
  padding-bottom: 94px;
}

.occupation .item {
  flex-basis: calc(100% / 3 - var(--card-item-gap));
}

/*=============== TEAM ============== */
.section-team {
  background-color: var(--bg-color-secondary);

  padding-top: 94px;
  padding-bottom: 94px;
}

.team {
  display: flex;
  flex-wrap: wrap;
}

.team-item {
  flex-basis: calc(100% / 4 - var(--card-item-gap));

  box-shadow: var(--box-shadow-var);

  /* border-radius: 0px 0px 4px 4px; */

  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;

  padding-bottom: 30px;
}

.team-item .card-text {
  padding-top: 30px;
  padding-bottom: 0px;
}

.team .title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;

  margin-top: 0px;
  margin-bottom: 10px;
}

.team .text {
  font-size: 16px;
  line-height: 19px;
  text-align: 1.19;
  text-align: center;
  color: var(--secondary-text-color);

  margin-top: 0px;
  margin-bottom: 16px;
}

.card-item .social-link {
  display: flex;
  justify-content: space-between;

  /* background-color: aqua; */

  padding-left: 32px;
  padding-right: 32px;
}

.card-item .link:hover .svg-social.team {
  fill: var(--bg-color-primary);
}

.svg-social.team {
  fill: var(--bg-color-social-icon);
}

/* ================ section-clients =================== */

.section-clients {
  /* background-color: var(--bg-color-primary); */

  padding-top: 94px;
  padding-bottom: 94px;
}

.clients {
  display: flex;
  justify-content: space-between;
}

.clients .item .link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;

  border: 1px solid var(--bg-color-social-icon);
  box-sizing: border-box;
  border-radius: 4px;
}

.icon-clients {
  width: 106px;
  height: 60px;
  fill: var(--bg-color-social-icon);
}

.clients .item .link:hover {
  border-color: var(--accent-color);
}

.clients .item .link:hover .icon-clients {
  fill: var(--accent-color);
}

/* ============= END section-clients ======================= */

/* footer  */

.page-footer {
  color: var(--primary-color-footer);
  background-color: var(--bg-color-footer);

  padding-top: 60px;
  padding-bottom: 60px;
}

.page-footer-address {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
}

.page-footer-address li:not(:last-child) {
  margin-bottom: 9px;
}

.page-footer-address a,
.page-footer-address a:visited {
  color: var(--address-color-footer);
}

.page-footer-address a:hover,
.page-footer-address a:focus {
  color: var(--accent-color);
}

.container-footer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.section-footer-1 {
  margin-right: 70px;
}

.section-footer-2 {
  padding-bottom: 40px;
}

.section-footer-2 .title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;

  margin-top: 0;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.section-footer-2 .social-link {
  display: flex;
  justify-content: flex-start;
}

.social-link .link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;

  background-repeat: no-repeat;

  border-radius: 50%;

  background-color: rgba(255, 255, 255, 0.1);
}

.svg-social {
  width: 20px;
  height: 20px;
  fill: var(--bg-color-primary);
}

.social-link .link:hover {
  background-color: var(--accent-color);
}

.social-link .item:not(:last-child) {
  margin-right: 10px;
}

/* секция портфолио */

.section-portfolio {
  padding-top: 94px;
  padding-bottom: 94px;

  /* background-color: var(--bg-color-primary); */
}

.section-portfolio-works .title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  text-align: left;

  margin-top: 0px;
  margin-bottom: 0px;
}

.section-portfolio-works .card-item {
  flex-basis: calc(100% / 3 - var(--card-item-gap));
}

.section-portfolio-works .card-item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);

  cursor: pointer;
}

.section-portfolio-works .card-text {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;

  border-left: var(--card-border-var);
  border-right: var(--card-border-var);
  border-bottom: var(--card-border-var);
}

.section-portfolio-works .text {
  font-size: 16px;
  line-height: 1.88;

  margin-top: 0px;
  margin-bottom: 0px;

  color: var(--secondary-text-color);
}
.section-portfolio-filters {
  display: flex;
  justify-content: center;

  margin-bottom: 50px;
}

.section-portfolio-filters :not(:last-child) {
  margin-right: 8px;
}

.section-portfolio-filters button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  cursor: pointer;

  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px;

  border: 0px;
  border-radius: 4px;

  color: inherit;
  background-color: var(--bg-color-secondary);
}

.section-portfolio-filters button:hover,
.section-portfolio-filters button:focus {
  color: var(--text-color-hero);
  background-color: var(--accent-color);

  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
